= simple_form_for(@post, html: {class: 'form-horizontal'}) do |f|
  = f.input :title, label: "Title", input_html: {class: "form-control"}
  = f.input :body, label: "Body", input_html: {class: "form-control"}
  %br/
  = f.button :submit
