#index_posts
  %center
    %h2 My blog posts
    %table
      %thead
        %tr
          %th Title
          %th Body
      %tbody
      - @posts.each do |post|
        %tr
          %td= link_to post.title, post
          %td= post.body
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }
    %br/
    %strong
      = link_to 'New Post', new_post_path
