- [:notice]
#post
  %h2 Title:
  %h2= @post.title

  %h2 Body:
  %h2= @post.body

  %h3 Comments
  #comments
    = render :partial => @post.comments.reverse
  = simple_form_for([@post, Comment.new], remote: true, html: {class: 'form-horizontal'}) do |f|
    = f.input :body, label: "New Comment", input_html: {class: "form-control"}
    %br/
    = f.button :submit

  %br/
  = link_to 'Edit', edit_post_path(@post)
  |
  = link_to 'Back', posts_path
