/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* W3C */
}

.navbar-default {
  background: rgba(250,250,250,0.2);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  border: none;
}

#index_posts {
  h2 {
    margin-bottom: 0;
    font-weight: 100;
  }

  a:link {
    color: white;
  }

  /* mouse over link */
  a:hover {
    background-color: white;
    color: purple;
  }
}

#post {
  h2 {
    font-weight: 150;
  }
  h3 {
    font-weight: 200;
  }
  a:link {
    color: white;
  }

  /* mouse over link */
  a:hover {
    background-color: white;
    color: purple;
  }
}

#edit_post {
  a:link {
    color: white;
  }

  /* mouse over link */
  a:hover {
    background-color: white;
    color: purple;
  }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
